<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Mi perfil</title>
</head>
<body>
    
    <div class="grid-2">
        <div class="section-1">
            <img src="img/IMG-20220621-WA0104 (1).jpeg" alt="Foto de perfil">
            <h2>Miguel Sarmiento</h2>
            <p>Lima, Perú.</p>
            <div class="social-links">
                <a href="https://www.instagram.com/migueelmusic/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/miguel.sarmiento.50767/"><i class="fab fa-facebook"></i></a>
                <a href="https://wa.me/51972553317"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="section-2">
            <h2>¿Quién soy?</h2>
            <p>Mi nombre es Miguel Sarmiento, tengo 18 años y actualmente soy estudiante de tercer ciclo en TECSUP, lugar donde he aprendido la mayoría de mis conocimientos acerca de la programación.</p>
            <h2>Hobbies</h2>
            <div class="hobbies">
                <h3>Guitarrista</h3>
                <ul>
                    <li>Estando en la secundaria, me llamó la atención el mundo de la música.</li>
                    <li>Aprendí diferentes estilos, creando una fusión entre guitarra española y actual.</li>
                    <li>Tuve la oportunidad de tocar en algunos conciertos, un dato curioso sería que en una ocasión, se me rompió una cuerda justo antes de tocar.</li>
                </ul>
                <h3>Tenista</h3>
                <ul>
                    <li>Uno de mis hobbies favoritos hasta antes de la pandemia.</li>
                    <li>Logré competir contra otros clubes y poner en alto el nombre de mi club.</li>
                    <li>Terminé dejándolo por temas médicos y también por la pandemia.</li>
                </ul>
            </div>
            <h2>Habilidades</h2>
            <ul>
                <li>Adaptabilidad</li>
                <li>Trabajo en equipo</li>
                <li>Javascript, HTML, CSS, SQL Server</li>
                <li>Conocimiento práctico de SQL y bases de datos</li>
            </ul>
            <h2>Contacto:</h2>
            <p>miguel.sarmiento@tecsup.edu.pe</p>
        </div>
    </div>
</body>
</html>